[user]
    email = patrick1031wang@gmail.com
    name = RenChu Wang
[core]
    excludesFile = ~/.gitignore
    editor = codium --wait --disable-workspace-trust --disable-extensions
    ignorecase = false
[push]
    autoSetupRemote = true
[rebase]
    stat = true
    instructionFormat = %ad %s
[remote "origin"]
    prune = true
[interactive]
    diffFilter = delta --color-only
[delta]
    navigate = true
    dark = true
[diff]
    wordregex = [a-zA-Z0-9_]+|[^[:space:]]
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[url "git@github.com:"]
	insteadOf = https://github.com/
